@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merienda", cursive;
}

body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

a.homebutton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

a.homebutton:hover {
  background-color: crimson;
  transform: scale(1.1);
  cursor: pointer;
}

.container {
  width: 850px;
  background: #fff;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 10px;
}

.hangman-box img {
  max-width: 270px;
}

.hangman-box h1 {
  font-size: 1.45rem;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.word-display .letter {
  width: 28px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.game-box h4 b {
  font-weight: 600;
}

.game-box .guesses-text b {
  color: #ff0000;
}

.game-box .keyboard {
  display: flex;
  gap: 5px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

:where(.game-modal, .keyboard) button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 4px;
  text-transform: uppercase;
}

.keyboard button {
  padding: 7px;
  width: calc(100% 9-5px);
}

.keyboard button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover {
  background: #89cff0;
}

.game-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.4s ease;
}

.game-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.game-modal .content {
  background: #fff;
  max-width: 420px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}

.game-modal img {
  max-width: 130px;
  margin-bottom: 20px;
}

.game-modal h4 {
  font-size: 1.53rem;
}

.game-modal p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}

.game-modal p b {
  color: #5e63ba;
  font-weight: 600;
}

.game-modal button {
  padding: 12px 23px;
}

@media (max-width: 782px) {
  .container {
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
  }

  .hangman-box img {
    max-width: 200px;
  }

  .hangman-box h1 {
    display: none;
  }
}
