*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Merienda", cursive;
   }
   
   header {
       position: fixed;
       max-width: 100vw;
       top: 0;
       text-align: left;
       font-weight: bold;
       font-size: xx-large;
   }
   
   a.homebutton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
    position: fixed;
    left: 0;
}
    a.homebutton:hover {
        background-color: crimson;
        transform: scale(1.1);
        cursor: pointer;
    }

   body {
       padding: 0;
       margin: 0;
       display: flex;
       background-image: url("https://res.cloudinary.com/diuh4hxhw/image/upload/v1734187312/piano2_o2vwve.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       height: 100vh;
       font-family: "Merienda", cursive;
       font-optical-sizing: auto;
       font-weight: 600;
       font-style: normal;
       justify-content: center;
       align-items: center;
   }
   
   button {
        font-family: "Merienda", cursive;
        text-decoration: none;
   }

   #maintitle {
    color: white;
    text-shadow: 5px 5px 7px #000000;
   }
   
   /*Opening modal screen*/
   
   .modal {
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(225, 224, 231);
       background-image: url("https://res.cloudinary.com/diuh4hxhw/image/upload/v1734187312/piano2_o2vwve.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
   
   .modal-content {
       background-color: rgb(225, 224, 231);
       margin: 15% auto;
       padding: 10px;
       border: 1px solid #888;
       width: 70%;
       text-align: center;
   }
   
   .close {
       color: #aaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
   }
   
   .close:hover,
   .close:focus {
       color: black;
       text-decoration: none;
       cursor: pointer;
   }
   
   /*Main game*/
   
   .container {
   display: flex;
   max-width: 80%;
   max-height: 50%;
   background-color: rgba(225, 224, 231, 0.9);
   border-radius: 5px;
   padding: 10px;
   justify-content: center;
   flex-direction: column;
   margin: auto;
   text-align: center;
   }
   
   .btn-grid {
       display: grid;
       grid-template-columns: repeat(1, auto);
       gap: 10px;
       margin: 20px 0;
   }
   
   .btn {
       border-radius: 5px;
       padding: 5px 10px;
       outline: none;
   }
   
   .btn:hover {
       border-color: royalblue;
   }
   
   .btn.correct {
       background-color: rgb(2, 204, 92);
   }
   
   .btn.wrong {
       background-color: red;
   }
   
   .start-btn {
       font-size: 3rem;
       font-weight: bold;
       padding: 10px 20px;
   }
   
   .controls {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .hide {
       display: none;
   }
   
   /*Media query: (700px and above) */
   
   @media screen and (min-width: 700px) {
   .container {
           width: 800px;
           max-width: 70%;
       }
   
       .modal-content {
           padding: 20px;
           width: 30%;
       }
   
       .btn-grid {
           display: grid;
           grid-template-columns: repeat(2, auto);
       }
   }