body,
html {
    margin: 0;
    padding: 0;
    background-color: rgba(20, 20, 25, 1);
    font-family: "Merienda", cursive;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://res.cloudinary.com/diuh4hxhw/image/upload/v1734298632/Leonardo_Phoenix_A_serene_snowcovered_landscape_illuminated_by_3_lpagdu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.homebutton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a.homebutton:hover {
    background-color: crimson;
    transform: scale(1.1);
    cursor: pointer;

}
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}


