.home-page {
    background-image: url("https://images.pexels.com/photos/6112292/pexels-photo-6112292.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.home-page h1  {
    font-size: 80px;
    color: #b91313fb;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 30px;
    font-weight: bold;
    background-color: rgba(225, 226, 228, 0.425);
}
p {
    font-size: 55px;
    color: #a31212fb;
    font-weight: bold;
    background-color: rgba(225, 226, 228, 0.425);
}
a.homebutton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
a.homebutton:hover {
    background-color: crimson;
    transform: scale(1.1);
    cursor: pointer;
}