.home-page {
    background-image: url('/assets/images/santa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.home-page h1  {
    font-size: 80px;
    color: #b91313fb;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 30px;
    font-weight: bold;
    background-color: rgba(225, 226, 228, 0.425);
    
}

p {
    font-size: 55px;
    color: #a31212fb;
    font-weight: bold;
    background-color: rgba(225, 226, 228, 0.425);
}