body {
    text-align: center;
    color: crimson;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url("../images/puzzlebg4.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 2px solid darkgreen;
    box-shadow: 0 4px 20px lightgreen;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: crimson;
    margin-bottom: 20px;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: limegreen;
    transform: scale(1.1);
}

.video-container {
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
}

a.homebutton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a.homebutton:hover {
    background-color: crimson;
    transform: scale(1.1);
    cursor: pointer;
}
