body {
    text-align: center;
}

#title {
    height: 100px;
    width: 400px;
}

#board {
    height: 420px;
    width: 420px;
    border: 10px solid lightgreen;
    background-color: lightcyan;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    height: 138px;
    width: 138px;
    border:1px solid black;
}