* {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a.teambutton, a.homebutton  {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

a.teambutton:hover {
  background-color: crimson;
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

/* ------------  Home page flip cards ------------ */
h1#maintitle {
  color: white;
  text-shadow: 5px 5px 7px #000000;
  margin: 55px 5% 1% 5%;
  text-align: center;
  font-size: 60px;
 }

 h2#maintitle {
  color: white;
  text-shadow: 5px 5px 7px #000000;
  text-align: center;
  font-size: 30px;
 }

   /* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #A1C2ED;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #EBFAFE;
  display: none; /* set to none so that the Nav bar is hidden until users click to open*/
  top: 100%;
}

nav a {
  color: #EBFAFE;
  text-decoration: none;
  font-size: 110%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  color: #EBFAFE;
  margin-right: 0px;
  margin-left: 10px;
    align-content:center;
}

.card-container {
  perspective: 1000px;
}

/* Card base style */
.card {
  width: 180px;
  height: 230px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Hover effect to trigger flip */
.card-container:hover .card {
  transform: rotateY(180deg);
  opacity: 1;
}

/* Front and back sides of card */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
   opacity: 1;
}

/* Front side */
.card-front {
  color: #333; /* Adjust text color for visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centers text inside the card */
  font-size: 1.5rem; /* Adjust font size for visibility */
  border-radius: 8px; /*Matches the card border radius */
   opacity: 0.8;
}

/* Back side */
.card-back {
  color: white;
  transform: rotateY(180deg);
}

/* Home page background image */
body.home-page {
  background-image: url('https://res.cloudinary.com/diuh4hxhw/image/upload/v1734187115/Leonardo_Phoenix_A_serene_and_festive_Christmas_scene_set_in_t_0_vemvlp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100%;
}

@media (max-width: 576px) {
  .card {
    width: 140px;
    height: 190px
  }
}

/* ----------ABOUT PAGE ----------*/
#about-bg {
  background-image: url("https://res.cloudinary.com/diuh4hxhw/image/upload/v1734268136/elves_vo0ujm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

h1.about{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  text-shadow: 5px 5px 7px #000000;
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
}

.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250,250,250,0.85);
  border-radius: 50px;
  height: 125px;
  margin: 5%;
  color: black;
  font-size: 20px;
}

.card .card-img-top {
  width: 80%;
  max-height: 250px;
  object-fit: cover;
  margin: 10px auto;
}

.card-title {
  text-align: center;
}

.card-body {
  text-align: center;
}

p.prof-socials {
  font-size: x-large;
  margin-bottom: 0;
}

.fa-brands,
.fab {
  font-weight: 400;
  color: green;
}

.icon-about-page {
  color: green;
}

.icon-about-page:hover {
  color: red;
  text-decoration: none;
}

#about {
  height: 100vh;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}